<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Update the Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu [type]="menuListUpdate" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button (click)="goToTeams()" color="success">
        Home
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-button (click)="goToTeams()" color="success">
        List Teams
        <ion-icon name="book-outline"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-button color="medium">Close Menu</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="teamUpdateForm" (ngSubmit)="updateTeam()" novalidate >
      <ion-item lines="full">
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Region</ion-label>
        <ion-input formControlName="region" type="text" required>
        </ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Position</ion-label>
        <ion-input formControlName="position" type="number" required>
        </ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" shape="full" expand="block">
            Update Team
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <br />
    <ion-menu-toggle>
      <ion-button color="medium">Open Menu</ion-button>
    </ion-menu-toggle>
  </ion-content>
</div>
